[Desktop Entry]
Type=Application
Name=Waydroid Tray
Comment=Tray icon to start, stop and launch Waydroid apps
Exec=systemctl --user start waydroid-tray
Icon=waydroid
Categories=Utility;
Terminal=false
